[user]
  name = Michael Welford
  email = mail@michaelwelford.com

[push]
  default = simple

[core]
  excludesfile = /Users/mjw/.gitignore_global
  pager = delta

[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended

[interactive]
  diffFilter = delta --color-only

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[color]
  ui = true

[color "branch"]
  current = yellow
  local = 241
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold
  newNormal = green bold
  newHighlight = green bold

[color "status"]
  added = green
  changed = yellow
  untracked = magenta

[alias]
  # mostly taken from Gary Bernhardt
  s = status
  st = status
  stu = status . -u
  ci = commit --verbose
  cim = commit --verbose -m
  ca = commit --all --verbose
  cam = commit --all --verbose -m
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  ap = add --patch
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  b = branch
  ds = diff --stat=160,120
  dh1 = diff HEAD~1

  # Divergence (commits we added and commits remote added)
  div = divergence

  # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

  # logging, used in flog command
  ll =  log --graph --format='%C(3)%h%Creset%C(1)%d%Creset - %C(4)(%ar)%Creset %s %C(4)<%an>%Creset'

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git r -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[init]
  templatedir = ~/.git_template

[safe]
  directory = /Users/mjw/.local/share/nvim/lazy/hererocks

[includeIf "gitdir:/Users/michael/.local/share/yadm/repo.git"]
  path = .config/yadm/config
