snippet en "Err != nil"
        if err != nil {
          $0
        }

snippet fpl "fmt.Println"
        fmt.Println($0)

snippet lf "log.Fatalln"
        log.Fatalln($0)

snippet enf "Err != nil and log fatal"
        if err != nil {
          log.Fatalln($0)
        }
