snippet date "Current date"
        ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE}

snippet datetime "Current date and time"
        ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE}T${CURRENT_HOUR}:${CURRENT_MINUTE}:${CURRENT_SECOND}${CURRENT_TIMEZONE_OFFSET}

snippet link "Change to link"
        [$TM_SELECTED_TEXT]($0)
